<h1>This is the household at: <%= @house.address %></h1>
<a href="/houses/<%= @house.id %>/edit"><button class="btn btn-info">Edit Address</button></a>
<form action="/houses/<%= @house.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @house.address %></button>
</form>
<br/>
<% if @house.parents != [] && !!@house.parents %>
  <ul><h2>
  <% @house.parents.each do |parent| %>
    <li><a href="/parents/<%= parent.id %>"><%= parent.name %></a> is a parent here.</li>
  <% end %>
</ul></h2>
  <% else %>
    <h2>No Parents found for <%= @house.address %>.</h2>
<% end %>
<br/>
<% if @house.children != [] && !!@house.children %>
  <ul><h3>
  <% @house.children.each do |child| %>
    <li><a href="/childs/<%= child.id %>"><%= child.name %></a> is <%= child.age %> years old and lives here.</li>
  <% end %>
</ul></h3>
  <% else %>
    <h3>No Children found for <%= @house.address %>.</h3>
<% end %>
