<h1>This is the info for: <%= @parent.name %></h1>
<a href="/parents/<%= @parent.id %>/edit"><button class="btn btn-info">Edit Name</button></a>
<form action="/parents/<%= @parent.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @parent.name %></button>
</form>
<h2>Lives at: <a href="/houses/<%= @house.id %>"><%= @house.address %></a></h2>
<% if @parent.children != [] && !!@parent.children %>
  <ul><h3>
  <% @parent.children.each do |child| %>
    <li><a href="/children/<%= child.id %>"><%= child.name %></a> is <%= child.age %> years old and lives here.</li>
  <% end %>
  </ul></h3>
  <% else %>
    <h3>No Children found for <%= @parent.name %>.</h3>
<% end %>
